In [3]:
print("Hello CP Bootcamp")

Hello CP Bootcamp

# This is our first markdown heading
## This is a smaller heading

Here is an example of a "Markdown"

In [6]:
# set boolean variable

bootcamp = True

# these store the answers to yes/no questions

hello = "Hello"

if bootcamp:
    print(hello + " CP Bootcamp")
else:
    print(hello + " World")

Hello CP Bootcamp

In [7]:
only_LETTERS_4nd_Numb3rs_and_underscores_allowed = True

In [8]:
#variables are case sensitive

var = True
Var = False
print(var)
print(Var)

True
False

In [9]:
#we can add extra conditions to if/else

CP_binney = False

if bootcamp and CP_binney:
    print(hello + " and welcome to the CP Bootcamp at 300 Binney!")
elif bootcamp and not CP_binney:
    print(hello + " and welcome to the CP Bootcamp at 75 Ames!")
else:
    print(hello + " World!")

Hello and welcome to the CP Bootcamp at 75 Ames!

In [11]:
# lets look at loops

locations = ['300 binney', '415 main', '75 ames ']

for location in locations:
    print(hello + ' and welcome to CP bootcamp at' + location + '!')

Hello and welcome to CP bootcamp at300 binney!
Hello and welcome to CP bootcamp at415 main!
Hello and welcome to CP bootcamp at75 ames !

In [ ]:
# first function

def say_hello(greetee, greeter=None):
    """
    This is a docstring for a function
    """
    greeting = "Hello " + greetee
    if greeter: 
        greeting += ', from ' + greeter
    print(greeting)
say_hello('world')
say_hello('CP Bootcamp', 'Lauren')
say_hello('CP bootcamp', 'David')

Helloworld
HelloCP Bootcamp, from Lauren
HelloCP bootcamp, from David

In [ ]:
# "while" loops allow for additional flexibility by looping until a condition is met

import random

tally = 0

while tally < 50:
    print('Current tally: ', tally)
    increment = random.randint(0, 5)
    print('Next tall increment: ', increment)
    tally += increment

print('final tally: ', tally)

# Numerical datatypes and other packages
## Datatypes

In [16]:
# numbers
my_int = 5
my_float = 5.0
print('this is a ', type(my_int), "with value:", my_int)
print('this is a ', type(my_float), "with value:", my_int)

this is a  <class 'int'> with value: 5
this is a  <class 'float'> with value: 5

In [ ]:
print(1+1)
print(2*5)

print(2*5-3)
print(2*(5-3))

print(10**2)
print(10**-2)

2
10
7
4
100
0.01

int

In [19]:
# warning: be careful when checking equelity with floats
# second thought: don't do it

print(0.1 + 0.2 == 0.3)
print(0.1 + 0.3 == 0.2 + 0.2)

False
True

In [20]:
# for safety, specify a tolerance
tol = 10**-10

print(0.1 + 0.2 - 0.3 == 0)
print(0.1 + 0.2 - 0.3 < tol)

False
True

In [21]:
# strings
print(' this is a string')

 this is a string

In [22]:
print('this' + 'is' + 'a' + 'string')

thisisastring

In [24]:
s = 'this is a string for slicing'
print(s[5])
print(s[:16])

i
this is a string

In [25]:
# lists
# lists can contain any type of data in any combination
# note that lists are useful but slow

l = ['a', 1, 0.3, None, ['a', 'b']]
print(l)

['a', 1, 0.3, None, ['a', 'b']]

In [32]:
# python indexing is quite flexible

nums = list(range(50))
print(nums)
print(nums[0])
print(nums[:10])
print(nums[-1])
print(nums[::2])
print(nums[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
49
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# lists nest in an obvious way

nested_list = [[1,2,3], [4,5,6], [7,8,9], [10,11,12],[13,14,15]]
print(nested_list[1:4])
print(nested_list[3])
print(nested_list[3][1])
[l[1] for l in nested_list]

[[4, 5, 6], [7, 8, 9], [10, 11, 12]]
[10, 11, 12]
11

[2, 5, 8, 11, 14]

In [39]:
print([i for i in range(20) if (i%2 == 0)])
print([i if (i%2 == 0) else -i for i in range(20)])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, -1, 2, -3, 4, -5, 6, -7, 8, -9, 10, -11, 12, -13, 14, -15, 16, -17, 18, -19]

In [40]:
print(nested_list)
nested_list[-1] = 'oops!'
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], 'oops!']

In [41]:
# be careful when dealing with list elements

new_test_list = [[i, i+1] for i in range(20) if (i%2 == 0)]
print(new_test_list)

[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], [10, 11], [12, 13], [14, 15], [16, 17], [18, 19]]

In [42]:
test_element = new_test_list[5]
test_element[0] = 'oops!'
print(new_test_list)

[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], ['oops!', 11], [12, 13], [14, 15], [16, 17], [18, 19]]

In [ ]:
# tuples are like lists but are immutable

test_tuple = tuple(range(5))
print(test_tuple)
test_tuple[2] = -1

(0, 1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [44]:
# useful for indexing and function arguments
function_args = (0,10,2)
print(function_args)

(0, 10, 2)

In [46]:
print(type(function_args))

<class 'tuple'>

In [47]:
# tuples can be "unenrolled" with the star operator into function args
print(list(range(*function_args)))

[0, 2, 4, 6, 8]

In [49]:
# dictionaries
test_dict = dict()
test_dict[(0,0)] = ['test']
test_dict

{(0, 0): ['test']}

In [50]:
print({(a,b): a*b for a in range(3) for b in range(4)})

{(0, 0): 0, (0, 1): 0, (0, 2): 0, (0, 3): 0, (1, 0): 0, (1, 1): 1, (1, 2): 2, (1, 3): 3, (2, 0): 0, (2, 1): 2, (2, 2): 4, (2, 3): 6}

# Types associated with common packages

In [51]:
import numpy as np

In [52]:
array_1 = np.ones(10**4)
print(array_1)
array_2 = np.arange(10**4)
print(array_2)
%timeit array_1+1.5*array_2

[1. 1. 1. ... 1. 1. 1.]
[   0    1    2 ... 9997 9998 9999]
6.1 μs ± 204 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [54]:
# lets try this with lists
list_1 = [1]*10**4
list_2 = list(range(10**4))
%timeit [list_1[i] + 1.5*list_2[i] for i in range (10**4)]

297 μs ± 7.13 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)